* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #292929;
    color: white;
}

h1 {
    margin: 0;
}

nav h1 {
    font-size: 60px;
    font-weight: 600;
}

nav {
    padding: 20px 60px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    transition: .3s;
}

a:hover {
    color: #F7B733;
}

#aboutUs-btn {
    display: none;
}

div svg {
    color: #F7B733;
    width: 75px;
    height: 75px;
    margin: 50px 0 15px 0;
}

div input {
    width: 100%;
    padding: 8px 20px;
    border: none;
    outline: none;
    border-radius: 1000px;
    margin: 5px 0 20px 0;
}

form button {
    font-size: 18px;
    padding: 5px 60px;
    color: white;
    background-color: #F7B733;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 10px 0 40px 0;
}

#regis-btn {
    font-size: 18px;
    padding: 5px 35px;
    color: white;
    background-color: #F73333;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 10px;
}

@media screen and (min-width: 861px) and (max-width: 1200px) {
    section div img {
        width: 500px;
    }

    nav {
        padding: 50px 30px;
    }
}

@media screen and (min-width: 700px) and (max-width: 860px) {
    section div img {
        width: 350px;
    }

    nav {
        padding: 20px 20px;
    }
}

@media screen and (max-width: 576px) {

    nav {
        padding: 10px 20px;
    }

    nav h1 {
        font-size: 40px;
        font-weight: 600;
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 10px;
        font-weight: 700;
        margin: 0;
    }

    nav a:nth-child(2) {
        display: none;
    }

    #aboutUs-btn {
        display: block;
        background-color: transparent;
        outline: none;
        border: none;
        color: white;
    }
}